autopep8==1.5.4
boto3==1.16.46
botocore==1.19.46
certifi==2020.12.5
chardet==4.0.0
docker==4.4.1
idna==2.10
jmespath==0.10.0
pycodestyle==2.6.0
python-dateutil==2.8.1
requests==2.25.1
s3transfer==0.3.3
six==1.15.0
toml==0.10.2
urllib3==1.26.2
websocket-client==0.57.0
